@using Web_AppointmentSystem.MVC.Areas.Admin.ViewModels.TimeSlotVM
@model List<TimeSlotGetVM>
@{
    int counter = 0;
}

<div style="display:flex; justify-content:space-between; align-items:center; padding: 0 530px 0 20px">
    <h1>Services</h1>
    <a asp-action="Create" class="btn btn-success">Create</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">StartTime</th>
            <th scope="col">EndTime</th>
            <th scope="col">IsAvailable</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            counter++;
            <tr>
                <th scope="row">@counter</th>
                <td>@book.Date</td>
                <td>@book.StartTime</td>
                <td>@book.EndTime</td>
                <td>@book.IsAvailable</td>
            </tr>
        }
    </tbody>
</table>
